/home/davidpoza/.local/share/gnome-shell/extensions/Shortcuts@kyle.aims.ac.za/stylesheet.css
----------------------------------------------

.background-boxlayout {
    color: #ffffff;
    background-color: rgba(10,10,10,0.7);
    border-radius: 10px;
}

.superkey-prompt {
    text-align: center;
    padding-bottom: 1em;
}

.left-boxlayout {
    padding: 1.5em;
    padding-top: 0em;
}

.right-boxlayout {
    padding: 1.5em;
    padding-top: 0em;
}

.shortcut-section {
    padding-top: .5em;
    padding-bottom: .5em;
    font-size: 20px;
    font-weight: bold;
}

.item-boxlayout {
    font-size: 12px;
}

.shortcut-key-label {
    width: 150px;
}

/home/davidpoza/.local/share/gnome-shell/extensions/Shortcuts@kyle.aims.ac.za/shortcuts.json
----------------------------------------------
[
    {
        "name": "VSCode",
        "shortcuts": [
            {
                "key": "Ctrl+Shift+P",
                "description": "Paleta de comandos"
            },
            {
                "key": "Ctrl+T",
                "description": "Buscador de símbolos"
            },
            {
                "key": "Ctrl+P",
                "description": "Buscador de ficheros"
            },
            {
                "key": "Ctrl+F",
                "description": "Buscar en fichero actual"
            },
            {
                "key": "Ctrl+H",
                "description": "Reemplazar en fichero"
            },
            {
                "key": "Ctrl+R",
                "description": "Cambiar de workspace"
            },
            {
                "key": "Ctrl+↑↓",
                "description": "Desplazar arriba/abajo la línea"
            },
            {
                "key": "Ctrl+Alt+D Ctrl+Alt+D",
                "description": "Borrar línea"
            },
            {
                "key": "Ctrl+Alt+D+Ctrl+Alt+F",
                "description": "Duplicar línea"
            },
            {
                "key": "Ctrl+Enter",
                "description": "Nueva línea"
            },
            {
                "key": "Ctrl+Alt+P",
                "description": "Copia el path absoluto"
            },
            {
                "key": "Ctrl+Alt+P Ctrl+Alt+R",
                "description": "Copia el path relativo"
            },
            {
                "key": "Ctrl+Alt+A",
                "description": "Alinear"
            },
            {
                "key": "Ctrl+Alt+C",
                "description": "Alternar comentario de selección"
            },
            {
                "key": "Ctrl+Alt+B",
                "description": "Alternar marcador de casilla"
            },
            {
                "key": "Ctrl+Alt+Q",
                "description": "Alternar comillas"
            },
            {
                "key": "Ctrl+Alt+S",
                "description": "Ordenar alfanum selección"
            },
            {
                "key": "Ctrl+Alt+L",
                "description": "Color picker"
            },
            {
                "key": "Ctrl+Alt+I",
                "description": "Formatear/indentar documento"
            },
            {
                "key": "Ctrl+Alt+O",
                "description": "Mantener pestaña abierta"
            },
            {
                "key": "Ctrl+Alt+F",
                "description": "Buscar en ficheros"
            },
            {
                "key": "Ctrl+Alt+O",
                "description": "Reemplazar en ficheros"
            }
        ]
    },
    {
        "name": "Ubuntu",
        "shortcuts": [
            {
                "key": "Super+D",
                "description": "Mostrar escritorio"
            },
            {
                "key": "Super+E",
                "description": "Abrir navegador ficheros"
            },
            {
                "key": "Ctrl+h",
                "description": "Mostrar archivos ocultos"
            },
            {
                "key": "Ctrl+Alt+↑↓",
                "description": "Cambiar de workspace"
            },
            {
                "key": "Alt+F2",
                "description": "Lanzar comando"
            },
            {
                "key": "Ctrl+L",
                "description": "Mostrar path"
            },
            {
                "key": "Super",
                "description": "Cambio visual entre ventanas"
            },
            {
                "key": "Super+S",
                "description": "Mostrar esta ventana"
            },
            {
                "key": "Ctrl+Alt+Shift+R",
                "description": "Capturar en video"
            }
        ]
    },
    {
        "name": "Terminal Guake + ZSH",
        "shortcuts": [
            {
                "key": "°",
                "description": "Despliegue"
            },
            {
                "key": "Alt+1",
                "description": "Go tab num 1"
            },
            {
                "key": "Ctrl+V",
                "description": "Paste"
            },
            {
                "key": "Ctrl+Shif+C",
                "description": "Copy"
            },
            {
                "key": "Ctrl+T",
                "description": "Open new tab"
            },
            {
                "key": "Ctrl++",
                "description": "Zoom in"
            },
            {
                "key": "Ctrl+-",
                "description": "Zoom out"
            },
            {
                "key": "Ctrl+r",
                "description": "Backwards search"
            },
            {
                "key": "Ctrl+z",
                "description": "Suspende la aplicación (deja de ejecutarse)"
            },
                        {
                "key": "Ctrl+l",
                "description": "Limpiar pantalla"
            },
                  	{   
                "key": "Shift+RePag/AvPag",
                "description": "Scroll en terminal"
            }
        ]
    },
    {
        "name": "Vim",
        "shortcuts": [
            {
                "key": "ggVG",
                "description": "Seleccionar todo"
            },
            {
                "key": "i",
                "description": "Modo inserción"
            },
            {
                "key": "A",
                "description": "Modo inserción al final de línea"
            },
            {
                "key": "A",
                "description": "Modo reemplazar"
            },
            {
                "key": "Esc",
                "description": "Volver a modo normal"
            },
            {
                "key": "v",
                "description": "Modo visual por carácter"
            },
            {
                "key": "V",
                "description": "Modo visual por línea"
            },
            {
                "key": "Ctrl+Alt+V",
                "description": "Modo visual por columnas"
            },
            {
                "key": "Shift+i 'texto' + ESC",
                "description": "inserta texto en modo columna"
            },
            {
                "key": "y",
                "description": "Copiar texto seleccionado en modo visual"
            },
            {
                "key": "yy",
                "description": "Copiar línea"
            },
            {
                "key": "p",
                "description": "Pegar"
            },
            {
                "key": "> y <",
                "description": "Indentar"
            },
            {
                "key": "=",
                "description": "Formatea el texto seleccionado"
            },
            {
                "key": "u",
                "description": "Deshacer"
            },
            {
                "key": "Ctrl+r",
                "description": "rehacer"
            },
            {
                "key": "Inicio",
                "description": "Ir a inicio de línea"
            },
            {
                "key": "Fin",
                "description": "Ir a fin de línea"
            },
            {
                "key": "Ctrl+Inicio",
                "description": "Ir a inicio de documento"
            },
            {
                "key": "Ctrl+Fin",
                "description": "Ir a  fin de documento"
            },
            {
                "key": "/palabra+Enter",
                "description": "Búsqueda"
            },
            {
                "key": ":%s/original/replacement/gc",
                "description": "Reemplazar con confirmación"
            },
            {
                "key": "n",
                "description": "Siguiente resultado"
            },
            {
                "key": "N",
                "description": "Resultado anterior"
            },
            {
                "key": "m {a-z A-Z}",
                "description": "Marcador en la línea"
            },
            {
                "key": "`{a-z A-Z}",
                "description": "Ir a marcador"
            },
            {
                "key": ":w",
                "description": "Guardar"
            },
            {
                "key": ":q",
                "description": "Salir"
            },
            {
                "key": ":q!",
                "description": "Salir sin guardar"
            },
            {
                "key": ":marks",
                "description": "Listado de marcadores"
            },
            {
                "key": ":e.",
                "description": "Ventana abrir fichero"
            },
            {
                "key": "ctrl+l",
                "description": "Limpiar pantalla"
            }
        ]
    },
    {
        "name": "Comandos terminal",
        "shortcuts": [
            {
                "key": "fdisk -l",
                "description": "Listar particiones"
            },
            {
                "key": "du -bsh /directorio",
                "description": "Tamaño del directorio"
            },
            {
                "key": "df -h",
                "description": "Espacio disponible en particiones"
            },
            {
                "key": "find /directorio [-max-depth 1] [-type f] -iname fichero",
                "description": "Buscar fichero"
            },
            {
                "key": "grep -rniI \"frase o palabra a buscar\" *",
                "description": "Buscar texto en ficheros (r: rec, n: linenumbers, i:insensitive, I:no binarios)"
            },
            {
                "key": "tail -f file",
                "description": "Mostrar final de fichero con autorefreso"
            },
            {
                "key": "tar -czvf paquete.tar.gz /ruta",
                "description": "Comprimir"
            },
            {
                "key": "tar -xzvf paquete.tar.gz",
                "description": "Descomprimir"
            },
            {
                "key": "pwd",
                "description": "Directorio actual"
            },
            {
                "key": "uname -r",
                "description": "Versión de kernel"
            },
            {
                "key": "lsb_release -a",
                "description": "Versión de ubuntu"
            },
            {
                "key": "sudo !!",
                "description": "Lanzar último comando pero con sudo"
            },
            {
                "key": "get public ip",
                "description": "curl ifconfig.me"
            },
            {
                "key": "man ascii",
                "description": "ver tabla ascii"
            },
            {
                "key": "fg, fg %1, fg %2...",
                "description": "Traer a primer plano"
            },
            {
                "key": "jobs",
                "description": "Listado de ventanas en segundo plano"
            },
            {
                "key": "mv filename.{old,new}",
                "description": "Renombrado rápido"
            },
            {
                "key": "fuser -k filename",
                "description": "Mata todos los procesos que bloquean un fichero"
            }
        ]
    }
]
